.App {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  color: darkslategray;
}

.table-users{
  margin: 20px;
}
.table-users td {
  background-color: #dbc1e1;
}

.table-users th {
  cursor: pointer;
  background-color: aquamarine;
  padding: 10px;
  color: #EC93A2;
  text-transform: uppercase;
}

li {
  list-style: none;
  text-align: left;
  text-transform: capitalize;
  display: flex;
}

.btn_load {
  padding: 10px 20px;
  color: #fff;
  background-color: coral;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all .3s;
  border-radius: 3px;
  margin-left: 20px;
  font-size: 1.1em;
}

.btn_load:hover {
  background-color: chocolate;
}

.list {
  padding-right: 20px;
}

h2 {
  text-transform: uppercase;
  color:#FFFF66;
}